---
import { Image } from "astro:assets";
import iconWorld from "@/assets/svgs/icon_world.svg";
import iconLeaves from "@/assets/svgs/icon_leaves.svg";
import piramid from "@/assets/imgs/piramid.png";
import iconHouse from "@/assets/svgs/icon_house.svg";
import iconDrop from "@/assets/svgs/icon_drop.svg";
import iconPlug from "@/assets/svgs/icon_plug.svg";
import iconHand from "@/assets/svgs/icon_hand.svg";
import iconSun from "@/assets/svgs/icon_sun.svg";
import iconHammer from "@/assets/svgs/icon_hammer.svg";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="container description_section items-center px-4 md:px-0 mb-10">
  <!-- First Part -->
  <h1
    class="font-title text-grey-950 uppercase pt-12 px-0 mb-4 text-3xl text-center md:text-4xl md:text-[2.5rem] md:pb-6"
  >
    {t("descriptionSection.title")}
  </h1>
  <div class="presentation text-lg">
    <div>
      <Image class="presentation__iconWorld" src={iconWorld} alt="Icon World" />
    </div>
    <p>
      {t("descriptionSection.about")}
    </p>
    <br />
    <p>
      {t("descriptionSection.about2")}
    </p>
  </div>

  <!-- Second part -->
  <div
    class="information grid grid-cols-1 md:grid-cols-2 md:gap-y-0 md:gap-x-16 mb-12"
  >
    <div class="flex justify-center md:col-span-2 md:justify-start mb-4">
      <Image
        class="information__iconLeaves max-w-20 md:max-w-32"
        src={iconLeaves}
        alt="Icon Leaves"
      />
    </div>
    <div
      class="informationText flex flex-col items-center md:items-start text-base mb-6 md:max-w-[26rem] md:mt-4"
    >
      <p class="mb-4" set:html={t("descriptionSection.aboutSecond")} />
      <p class="mb-4" set:html={t("descriptionSection.aboutSecond2")} />
      <p set:html={t("descriptionSection.aboutSecond3")} />
    </div>
    <div class="flex justify-end">
      <Image
        class="information__piramid md:max-w-[380px]"
        src={piramid}
        alt="Piramid Image"
      />
    </div>
  </div>

  <div class="flex flex-col items-center">
    <h2
      class="font-title text-grey-950 uppercase pt-12 md:px-8 mb-4 text-3xl text-center md:text-4xl md:text-[2.5rem] md:pb-6 xl:max-w-5xl"
    >
      {t("sustainability.title")}
    </h2>
    <div
      class="characteristics grid grid-cols-1 md:grid-cols-3 gap-8 md:px-10 max-w-5xl"
    >
      <div class="">
        <div class="flex flex-col items-center pt-4 pb-4">
          <Image
            class="characteristics__house w-16"
            src={iconHouse}
            alt="House Image"
          />
        </div>
        <p class="text-center">
          {t("sustainability.card1")}
        </p>
      </div>
      <div class="">
        <div class="flex flex-col items-center pt-4 pb-4">
          <Image
            class="characteristics__drop w-16"
            src={iconDrop}
            alt="Drop Image"
          />
        </div>
        <p class="text-center">
          {t("sustainability.card2")}
        </p>
      </div>
      <div class="">
        <div class="flex flex-col items-center pt-4 pb-4">
          <Image
            class="characteristics__plug w-16"
            src={iconPlug}
            alt="Plug Image"
          />
        </div>
        <p class="text-center">
          {t("sustainability.card3")}
        </p>
      </div>
      <div class="">
        <div class="flex flex-col items-center pt-4 pb-4">
          <Image
            class="characteristics__hand w-16"
            src={iconHand}
            alt="Hand Image"
          />
        </div>
        <p class="text-center">
          {t("sustainability.card4")}
        </p>
      </div>
      <div class="">
        <div class="flex flex-col items-center pt-4 pb-4">
          <Image
            class="characteristics__sun w-16"
            src={iconSun}
            alt="Sun Image"
          />
        </div>
        <p class="text-center">{t("sustainability.card5")}</p>
      </div>
      <div class="">
        <div class="flex flex-col items-center pt-4 pb-4">
          <Image
            class="characteristics__hammer w-16"
            src={iconHammer}
            alt="Hammer Image"
          />
        </div>
        <p class="text-center">{t("sustainability.card6")}</p>
      </div>
    </div>
  </div>

  <style lang="scss">
    .description_section {
      display: flex;
      justify-content: center;
      @apply text-accent-700;
      padding-top: 3rem;
      flex-direction: column;
    }
    .presentation {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 3.5rem;
    }
    .presentation__iconWorld {
      margin-bottom: 1.5rem;
      max-width: 5.75rem;
    }
    @media (min-width: 768px) {
      .presentation__iconWorld {
        max-width: 6.25rem;
      }
      .presentation {
        max-width: 620px;
        font-size: 1.25rem;
      }
    }
  </style>
</section>
