---
import { Image } from "astro:assets";
import iconWorld from "@/assets/svgs/icon_world.svg";
import iconLeaves from "@/assets/svgs/icon_leaves.svg";
import piramid from "@/assets/imgs/piramid.png";
import iconHouse from "@/assets/svgs/icon_house.svg";
import iconDrop from "@/assets/svgs/icon_drop.svg";
import iconPlug from "@/assets/svgs/icon_plug.svg";
import iconHand from "@/assets/svgs/icon_hand.svg";
import iconSun from "@/assets/svgs/icon_sun.svg";
import iconHammer from "@/assets/svgs/icon_hammer.svg";
---

<section class="container description_section items-center">
  <div class="presentation text-lg">
    <div>
      <Image class="presentation__iconWorld" src={iconWorld} alt="Icon World" />
    </div>
    <p>
      Escape to a world where nature embraces contemporary comfort—nestled in
      the vibrant jungles of Tulum.
    </p>
    <br />
    <p>
      Picture waking up to the beautiful songs of tropical birds, surrounded by
      the lush jungle in vibrant colors. Every day is like a new adventure
      waiting to happen.
    </p>
  </div>
  <div
    class="information grid grid-cols-1 md:grid-cols-2 md:gap-y-0 md:gap-x-16 px-4 md:px-14"
  >
    <div class="flex justify-center md:col-span-2 md:justify-start mb-4">
      <Image
        class="information__iconLeaves max-w-20 md:max-w-32"
        src={iconLeaves}
        alt="Icon Leaves"
      />
    </div>
    <div
      class="informationText flex flex-col items-center md:items-start text-base mb-6 md:max-w-[26rem] md:mt-4"
    >
      <p class="mb-4">
        Cenote Gardens offers <b>56 residential lots</b> that bring a unique opportunity
        to be part of an extraordinary living experience.
      </p>
      <p class="mb-4">
        It is the perfect place for those looking for <b
          >a lifestyle respectful of nature</b
        > and the biodiversity of the Mayan jungle.
      </p>
      <p>
        Ideal to find <b>privacy</b> and coexistence with other people seeking wellness,
        spirituality, and expansion of consciousness.
      </p>
    </div>
    <div class="flex justify-end">
      <Image
        class="information__piramid md:max-w-[380px]"
        src={piramid}
        alt="Piramid Image"
      />
    </div>
  </div>
  <div>
    <h1 class="pt-12 px-10 text-2xl text-center md:text-[52px] md:pb-6">
      Sustainability is our core vision
    </h1>
  </div>
  <div class="characteristics grid grid-cols-1 md:grid-cols-3 px-10">
    <div class="p-6 md:">
      <div class="flex flex-col items-center pt-4 pb-4">
        <Image
          class="characteristics__house w-16 md:w-28"
          src={iconHouse}
          alt="House Image"
        />
      </div>
      <p class="text-center">
        Low construction density (+60% of untouched green areas).
      </p>
    </div>
    <div class="p-6 md:p-10">
      <div class="flex flex-col items-center pt-4 pb-4">
        <Image
          class="characteristics__drop w-16 md:w-28"
          src={iconDrop}
          alt="Drop Image"
        />
      </div>
      <p class="text-center">
        Private eco-friendly sewage system that completes the water cycle (water
        reuse).
      </p>
    </div>
    <div class="p-6 md:p-10">
      <div class="flex flex-col items-center pt-4 pb-4">
        <Image
          class="characteristics__plug w-16 md:w-28"
          src={iconPlug}
          alt="Plug Image"
        />
      </div>
      <p class="text-center">
        Renewable energy for the lighting of driveways and power of amenities.
      </p>
    </div>
    <div class="p-6 md:p-10">
      <div class="flex flex-col items-center pt-4 pb-4">
        <Image
          class="characteristics__hand w-16 md:w-28"
          src={iconHand}
          alt="Hand Image"
        />
      </div>
      <p class="text-center">
        Amenities and driveways designed with eco-friendly materials.
      </p>
    </div>
    <div class="p-6 md:p-10">
      <div class="flex flex-col items-center pt-4 pb-4">
        <Image
          class="characteristics__sun w-16 md:w-28"
          src={iconSun}
          alt="Sun Image"
        />
      </div>
      <p class="text-center">Solar panel buyer rebate program.</p>
    </div>
    <div class="p-6 md:p-10">
      <div class="flex flex-col items-center pt-4 pb-4">
        <Image
          class="characteristics__hammer w-16 md:w-28"
          src={iconHammer}
          alt="Hammer Image"
        />
      </div>
      <p class="text-center">Eco-construction guidelines.</p>
    </div>
  </div>
</section>

<style lang="scss">
  .description_section {
    display: flex;
    justify-content: center;
    @apply text-accent-700;
    padding-top: 3rem;
    flex-direction: column;
  }
  .presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem 1rem;
    margin-bottom: 3.5rem;
  }
  .presentation__iconWorld {
    margin-bottom: 1.5rem;
    max-width: 5.75rem;
  }
  @media (min-width: 768px) {
    .presentation__iconWorld {
      max-width: 6.25rem;
    }
    .presentation {
      max-width: 620px;
      font-size: 1.25rem;
    }
  }
</style>
