---
import { Image } from "astro:assets";
import ContactForm from "../form/ContactForm";
import bgContact300 from "@/assets/imgs/ContactoBg/ContactoBg300.webp";
import bgContact1140 from "@/assets/imgs/ContactoBg/ContactoBg1140.webp";
import bgContact1580 from "@/assets/imgs/ContactoBg/ContactoBg1580.webp";
import bgContact1920 from "@/assets/imgs/ContactoBg/ContactoBg1920.webp";
import bgContact2048 from "@/assets/imgs/ContactoBg/ContactoBg2048.webp";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="contact"
  class="contactForm__container relative py-12 flex justify-center flex-col text-center items-center text-white"
>
  <Image
    src={bgContact1920}
    srcset={`${bgContact300.src} 300w, ${bgContact1140.src} 1140w, ${bgContact1580.src} 1580w, ${bgContact1920.src} 1920w, ${bgContact2048.src} 2048w`}
    alt="bg"
    loading="lazy"
    class="absolute top-0 size-full object-cover"
  />

  <div class="relative flex flex-col items-center">
    <div class="flex justify-center items-center flex-col gap-6 mb-12">
      <h2
        class="font-title text-grey-50 uppercase text-3xl md:text-4xl md:text-[2.5rem] md:mb-4"
      >
        {t("contactSection.title")}
      </h2>
      <p
        class="contactForm__description italic font-title px-2 text-xl"
        style="max-width: 710px"
      >
        {t("contactSection.desc")}
      </p>
    </div>
    <ContactForm client:visible lang={lang} />

    <a href="tel:+52 777 223 5855" class="contact__phone p-4 flex gap-2 mb-4">
      <div class="icon">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.00011 9.86001C6.91997 14.0408 10.3313 17.3544 14.5661 19.152L15.2461 19.455C15.9991 19.7903 16.8464 19.8491 17.6385 19.621C18.4306 19.3929 19.1168 18.8925 19.5761 18.208L20.4651 16.884C20.6042 16.6764 20.6605 16.4242 20.623 16.1771C20.5854 15.93 20.4567 15.7059 20.2621 15.549L17.2501 13.119C17.1452 13.0344 17.0243 12.9719 16.8947 12.9353C16.765 12.8986 16.6293 12.8885 16.4956 12.9056C16.362 12.9227 16.2331 12.9666 16.1169 13.0347C16.0006 13.1028 15.8994 13.1938 15.8191 13.302L14.8871 14.559C12.4947 13.3774 10.5582 11.4406 9.37711 9.04801L10.6331 8.11601C10.7414 8.03577 10.8323 7.93448 10.9004 7.81823C10.9685 7.70198 11.0124 7.57316 11.0295 7.4395C11.0466 7.30585 11.0365 7.17012 10.9999 7.04046C10.9632 6.91081 10.9007 6.7899 10.8161 6.68501L8.38611 3.67301C8.22921 3.47846 8.00514 3.34972 7.75805 3.31215C7.51096 3.27458 7.25875 3.33089 7.05111 3.47001L5.71811 4.36401C5.02951 4.82579 4.5272 5.51702 4.30066 6.31457C4.07413 7.11213 4.13807 7.9642 4.48111 8.71901L5.00011 9.86001Z"
            fill="white"></path>
        </svg>
      </div>
      <span>+52 777 223 5855</span>
    </a>

    <a
      href="https://api.whatsapp.com/send?phone=5217772235855"
      target="_blank"
      class="contact__phone p-4 flex gap-4"
    >
      <div class="icon">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M22.1332 18.6671C21.8665 18.5338 20.1332 17.7338 19.8665 17.6005C19.5998 17.4671 19.3332 17.4671 19.0665 17.7338C18.7998 18.0005 18.2665 18.8005 17.9998 19.0671C17.8665 19.3338 17.5998 19.3338 17.3332 19.2005C16.3998 18.8005 15.4665 18.2671 14.6665 17.6005C13.9998 16.9338 13.3332 16.1338 12.7998 15.3338C12.6665 15.0671 12.7998 14.8005 12.9332 14.6671C13.0665 14.5338 13.1998 14.2671 13.4665 14.1338C13.5998 14.0005 13.7332 13.7338 13.7332 13.6005C13.8665 13.4671 13.8665 13.2005 13.7332 13.0671C13.5998 12.9338 12.9332 11.3338 12.6665 10.6671C12.5332 9.73379 12.2665 9.73379 11.9998 9.73379H11.3332C11.0665 9.73379 10.6665 10.0005 10.5332 10.1338C9.73317 10.9338 9.33317 11.8671 9.33317 12.9338C9.4665 14.1338 9.8665 15.3338 10.6665 16.4005C12.1332 18.5338 13.9998 20.2671 16.2665 21.3338C16.9332 21.6005 17.4665 21.8671 18.1332 22.0005C18.7998 22.2671 19.4665 22.2671 20.2665 22.1338C21.1998 22.0005 21.9998 21.3338 22.5332 20.5338C22.7998 20.0005 22.7998 19.4671 22.6665 18.9338L22.1332 18.6671ZM25.4665 6.53379C20.2665 1.33379 11.8665 1.33379 6.6665 6.53379C2.39984 10.8005 1.59984 17.3338 4.53317 22.5338L2.6665 29.3338L9.73317 27.4671C11.7332 28.5338 13.8665 29.0671 15.9998 29.0671C23.3332 29.0671 29.1998 23.2005 29.1998 15.8671C29.3332 12.4005 27.8665 9.06712 25.4665 6.53379ZM21.8665 25.2005C20.1332 26.2671 18.1332 26.9338 15.9998 26.9338C13.9998 26.9338 12.1332 26.4005 10.3998 25.4671L9.99984 25.2005L5.8665 26.2671L6.93317 22.2671L6.6665 21.8671C3.4665 16.5338 5.0665 9.86712 10.2665 6.53379C15.4665 3.20046 22.1332 4.93379 25.3332 10.0005C28.5332 15.2005 27.0665 22.0005 21.8665 25.2005Z"
            fill="#F6F6F6"></path>
        </svg>
      </div>
      <span>Whatsapp</span>
    </a>
  </div>
</section>

<style lang="scss">
  .contactForm__container {
    width: 100%;
    background-position: bottom center;
    background-size: cover;
  }
  .contact__phone {
    max-width: 14rem;
    border: 1px solid;
    @apply border-gray-50 hover:bg-accent-50 hover:text-accent-700;

    &:hover > .icon > svg > path {
      fill: #355442;
    }
  }
  .icon {
    width: 24px;
    height: 24px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .contactForm__description {
    font-family: "Times New Roman";
  }
</style>
