---
import { Image } from "astro:assets";
import airbnbImage from "@/assets/imgs/airbnb.png";
import financialImage from "@/assets/imgs/financial.png";
import tripadvisorImage from "@/assets/imgs/tripadvisor.png";
import cnbcImage from "@/assets/imgs/cnbc.png";
import wolrd_travel_awardsImage from "@/assets/imgs/wolrd_travel_awards.png";
import global_wellnessImage from "@/assets/imgs/global_wellness.png";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="invest"
  class="container invest_section flex flex-col text-center pt-8 px-4 lg:px-11 xl:px-36 min-[1536px]:px-72 text-xs md:text-sm"
>
  <div>
    <div>
      <div class="font-title uppercase text-2xl md:text-6xl">
        <h1>{t("investSection.title")}</h1>
      </div>
      <div class="pt-10 pb-10 md:px-28">
        <p set:html={t("investSection.desc")} />
      </div>
      <div class="pt-0 pb-10">
        <div
          class="border-2 border-accent-700 text-accent-700 grid grid-cols-1 md:grid-cols-4 p-10 gap-y-0 md:gap-x-4"
        >
          <div>
            <div class="font-subtitle text-xl p-4">
              <h2>{t("investSection.card1.title")}</h2>
            </div>
            <div>
              <p>{t("investSection.card1.desc")}</p>
            </div>
          </div>
          <div>
            <div class="font-subtitle text-xl p-4">
              <h2>{t("investSection.card2.title")}</h2>
            </div>
            <div>
              <p>{t("investSection.card2.desc")}</p>
            </div>
          </div>
          <div>
            <div class="font-subtitle text-xl p-4">
              <h2>{t("investSection.card3.title")}</h2>
            </div>
            <div>
              <p>{t("investSection.card3.desc")}</p>
            </div>
          </div>
          <div>
            <div class="font-subtitle text-xl pt-4 pb-4">
              <h2>{t("investSection.card4.title")}</h2>
            </div>
            <div>
              <p>{t("investSection.card4.desc")}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-10 md:px-28">
        <p>
          {t("investSection.desc2")}
        </p>
      </div>
      <div class="font-title uppercase pb-10 text-2xl">
        <h2>
          {t("investSection.subTitle")}
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-6 gap-6">
      <div class="flex flex-col items-center pb-8">
        <Image
          class="invest__airbnbImage max-w-20 md:max-w-32"
          src={airbnbImage}
          alt="Airbnb Image"
        />
        <p class="text-xs">
          {t("investSection.airBnB")}
        </p>
      </div>
      <div class="flex flex-col items-center pb-8">
        <Image
          class="invest__financialImage max-w-20 md:max-w-32"
          src={financialImage}
          alt="Financial Image"
        />
        <p class="text-xs">
          {t("investSection.financialTimes")}
        </p>
      </div>
      <div class="flex flex-col items-center pb-8">
        <Image
          class="invest__tripadvisorImage max-w-20 md:max-w-32"
          src={tripadvisorImage}
          alt="Tripadvisor Image"
        />
        <p class="text-xs">
          {t("investSection.tripAdvisor")}
        </p>
      </div>
      <div class="flex flex-col items-center pb-8">
        <Image
          class="invest__cnbcImage max-w-20 md:max-w-32"
          src={cnbcImage}
          alt="Cnbc Image"
        />
        <p class="text-xs">
          {t("investSection.cnbc")}
        </p>
      </div>
      <div class="flex flex-col items-center pb-8">
        <Image
          class="invest__wolrd_travel_awardsImage max-w-20 md:max-w-32"
          src={wolrd_travel_awardsImage}
          alt="Wolrd_travel_awards Image"
        />
        <p class="text-xs">
          {t("investSection.wordTravel")}
        </p>
      </div>
      <div class="flex flex-col items-center pb-8">
        <Image
          class="invest__global_wellnessImage max-w-20 md:max-w-32"
          src={global_wellnessImage}
          alt="Global_wellness Image"
        />
        <p class="text-xs">
          {t("investSection.globalWellness")}
        </p>
      </div>
    </div>
  </div>
</section>
