---
import { Image } from "astro:assets";
import logoHeader from "@/assets/svgs/logo_header.svg";
import bgBannerMain400 from "@/assets/imgs/bannerMain/bgBannerMain400.webp";
import imgBannerMain920 from "@/assets/imgs/bannerMain/bgBannerMain920.webp";
import imgBannerMain1230 from "@/assets/imgs/bannerMain/bgBannerMain1230.webp";
import imgBannerMain1480 from "@/assets/imgs/bannerMain/bgBannerMain1480.webp";
import imgBannerMain1690 from "@/assets/imgs/bannerMain/bgBannerMain1690.webp";
import imgBannerMain1880 from "@/assets/imgs/bannerMain/bgBannerMain1880.webp";
import imgBannerMain2048 from "@/assets/imgs/bannerMain/bgBannerMain2048.webp";
import imgBannerMobile from "@/assets/imgs/bgBannerMobile.webp";
export const prerender = false;
---

<section
  class="w-full relative h-[32rem] lg:h-[36rem] bg-cover bg-center banner-section overflow-hidden"
>
  <Image
    src={bgBannerMain400}
    srcset=`${bgBannerMain400.src} 400w, ${imgBannerMain920.src} 920w, ${imgBannerMain1230.src} 1230w, ${imgBannerMain1480.src} 1480w, ${imgBannerMain1690.src} 1690w, ${imgBannerMain1880.src} 1880w, ${imgBannerMain2048.src} 2048w`
    sizes="100vw"
    loading="eager"
    alt="bg"
    class="absolute top-0 size-full object-cover"
    fetchpriority="high"
    decoding="auto"
  />
  <div
    class="flex h-full px-4 md:px-0 justify-center items-center banner-content"
  >
    <Image
      class="z-10"
      id="logoImage"
      src={logoHeader}
      alt="Logo Cenotes"
      loading="eager"
    />
  </div>
</section>

<script>
  const logoImage = document.getElementById("logoImage");

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;
    if (currentScroll > 20) {
      // Scroll hacia abajo
      logoImage.style.opacity = "0";
    } else {
      // Scroll hacia arriba
      logoImage.style.opacity = "1";
    }
  });
</script>

<style>
  #logoImage {
    transition: opacity 0.3s ease-in-out;
  }
</style>
