---
import { Image } from "astro:assets";
import logoHeader from "@/assets/svgs/logo_header.svg";
import bgBannerMain300 from "@/assets/imgs/bannerMain/bgBannerMain300.webp";
import imgBannerMain1040 from "@/assets/imgs/bannerMain/bgBannerMain1040.webp";
import imgBannerMain1440 from "@/assets/imgs/bannerMain/bgBannerMain1440.webp";
import imgBannerMain1770 from "@/assets/imgs/bannerMain/bgBannerMain1770.webp";
import imgBannerMain2048 from "@/assets/imgs/bannerMain/bgBannerMain2048.webp";
---

<section
  class="w-full relative h-[32rem] lg:h-[36rem] bg-cover bg-center banner-section overflow-hidden"
>
  <Image
    src={imgBannerMain1440}
    srcset=`${bgBannerMain300.src} 300w,
     ${imgBannerMain1040.src} 1040w,
      ${imgBannerMain1440.src} 1440w,
       ${imgBannerMain1770.src} 1770w,
        ${imgBannerMain2048.src} 2048w`
    sizes="100vw"
    loading="eager"
    alt="bg"
    class="absolute top-0 size-full object-cover"
    fetchpriority="high"
    decoding="auto"
  />
  <div
    class="flex h-full px-4 md:px-0 justify-center items-center banner-content"
  >
    <Image
      class="z-10"
      id="logoImage"
      src={logoHeader}
      alt="Logo Cenotes"
      fetchpriority="high"
      loading="eager"
    />
  </div>
</section>

<script>
  const logoImage = document.getElementById("logoImage");

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;
    if (currentScroll > 20) {
      // Scroll hacia abajo
      logoImage.style.opacity = "0";
    } else {
      // Scroll hacia arriba
      logoImage.style.opacity = "1";
    }
  });
</script>

<style>
  #logoImage {
    transition: opacity 0.3s ease-in-out;
  }
</style>
