---
import { Image, getImage } from "astro:assets";
import logoHeader from "@/assets/svgs/logo_header.svg";
import imgFooterBannerMain from "@/assets/imgs/bgFooterMain.webp";
import IconFacebook from "@/assets/imgs/icon_facebook.webp";
import Iconinstagram from "@/assets/imgs/icon_instagram.webp";
import Icontiktok from "@/assets/imgs/icon_tiktok.webp";
import Iconyoutube from "@/assets/imgs/icon_youtube.webp";

const optimizedBackground = await getImage({
  src: imgFooterBannerMain,
  format: "webp",
});

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="footer_section w-full relative
    px-4 md:px-0
    bg-cover bg-center"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <div>
    <div class="flex mt-10 mb-10 justify-center">
      <Image
        class="w-full max-w-md"
        src={logoHeader}
        alt="Logo Cenotes"
        loading="lazy"
      />
    </div>
    <div>
      <div class="text-accent-50 flex flex-col items-center">
        <div class="mb-2"><p>© 2024 Cenote Gardens</p></div>
        <div class="mb-6">
          <a
            class="hover:underline hover:text-accent-400"
            href="/privacy_policy">{t("footer.privacy")}</a
          >
        </div>
        <div>
          <div class="grid grid-cols-4 md:gap-x-2">
            <div>
              <a
                href="https://www.facebook.com/profile.php?id=61556299153417&locale=es_LA"
                target="_blank"
              >
                <Image
                  class="footer__iconFacebook w-10 pt-4 pb-4 m-1"
                  src={IconFacebook}
                  alt="Icon Facebook"
                  loading="lazy"
                />
              </a>
            </div>
            <div>
              <a
                href="https://www.instagram.com/cenotegardens/"
                target="_blank"
              >
                <Image
                  class="footer__iconinstagram w-10 pt-4 pb-4 m-1"
                  src={Iconinstagram}
                  alt="Icon instagram"
                  loading="lazy"
                />
              </a>
            </div>
            <div>
              <a href="https://www.tiktok.com/@cenote.gardens" target="_blank">
                <Image
                  class="footer__icontiktok w-10 pt-4 pb-4 m-1"
                  src={Icontiktok}
                  alt="Icon tiktok"
                  loading="lazy"
                />
              </a>
            </div>
            <div>
              <a
                href="https://www.youtube.com/@TulumCenoteGardens/featured"
                target="_blank"
              >
                <Image
                  class="footer__iconyoutube w-10 pt-4 pb-4 m-1"
                  src={Iconyoutube}
                  alt="Icon youtube"
                  loading="lazy"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="mb-2"><p>{t("footer.produced")}</p></div>
      </div>
    </div>
  </div>
</footer>
